<template>
    <tr v-if="visible">
        <td>
            <datalist id="products-sku-list">
                <option :value="p.sku" v-for="p in products">
                    {{p.name}}
                </option>
            </datalist>

            <input type="text" v-model="skutemp"  required list="products-sku-list" class="form-control" :readonly="selectedProductSetted">
            <input name="product_ids[]" type="hidden" v-model="bindedProduct.id" >
        </td>
        <td>{{bindedProduct.name}}</td>
        <td>
            <input type="number" name="unitprices[]" step=any class="form-control" v-model.number="unit_price"
                   :disabled="Object.keys(bindedProduct).length===0" required>
        </td>
        <td>
            <input type="number" name="qtys[]" step=any  class="form-control" v-model.number="qty"
                   :disabled="Object.keys(bindedProduct).length===0" required>
        </td>
        <td>{{ subtotal }}
            <input type="hidden" name="subtotals[]" v-model="subtotal">
        </td>
        <td>
            <a class="btn btn-sm" :class="{'btn-warning':!selectedProductSetted, 'btn-danger':selectedProductSetted}" @click="deleteRow" :disabled="!activeDelete">
                {{ activeDelete ? 'Delete' : 'Deleting..' }}
            </a>
            <a v-if="selectedProductSetted && !activeReceived" class="btn btn-sm btn-info" @click="markAsReceived">Mark as Received</a>
            <label v-if="selectedProductSetted && activeReceived" class="label label-success">RECEIVED</label>
        </td>
    </tr>
</template>

<script>
    export default {
        props:{
            products:{default:[]},
            selectedProduct:{
                default:function(){
                    return {};
                }
            }
        },
        data(){
            return {
                qty:0,
                unit_price:0,
                skutemp:'',
                visible:true,
                activeDelete:true,
                activeReceived:false

            }
        },
        methods:{
            deleteRow(){
                let _self=this;

                if(_.isEmpty(this.selectedProduct)===false){
                    let result=confirm('Are you sure you want to delete? This will delete the order detail permanently');
                    if(result){
                            this.activeDelete=false;
                            let orderId=this.selectedProduct.pivot.id;
                            axios.delete(`/purchases/orderdetail/${orderId}`)
                            .then(function (response) {
                                console.log('response:',response);
                                if(response.data=='success'){
                                    _self.visible=false;
                                }
                            })
                            .catch(function (error) {
                                console.log('error deleting row');
                                console.log(error);
                            });
                    }
                }else{
                    this.visible=false;
                }
            },
            markAsReceived(){
                let _self=this;

                $('.bs-example-modal-sm').on('hidden.bs.modal', function (e) {
                    console.log('desvinculando...');
                    $(e.currentTarget).unbind(); // or $(this)
                    $("#receiveProducts").unbind();

                });

                $('.bs-example-modal-sm').on('show.bs.modal', function (event) {
                    console.log(_self.selectedProduct);
                    var button = $(event.relatedTarget); // Button that triggered the modal
                   // var recipient = button.data('whatever') // Extract info from data-* attributes
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                     var modal = $(this);
                     console.log(modal);
                     modal.find('#name-product').text(_self.selectedProduct.name+" ( "+_self.selectedProduct.sku+" )");
                     modal.find('input[name="recqty"]').val(_self.selectedProduct.qty);
                });


                $('.bs-example-modal-sm').modal();

                $("#receiveProducts").on('click',function(){
                    let recqty=$('#recqty').val();
                    let numboxes=$('#numboxes').val();
                    let orderId=_self.selectedProduct.pivot.id;
                    let boxMater={
                        'id_order_detail':_self.selectedProduct.pivot.id,
                        'id_order':_self.selectedProduct.pivot.id_purchase,
                        'id_product':_self.selectedProduct.id,
                        'sku':_self.skutemp,
                        'qty':recqty,
                        'numboxes':numboxes
                    };
                    axios.post(`/purchases/orderdetail/${orderId}`,boxMater)
                        .then(function (response) {
                            console.log('response:',response);
                            if(response.status===200){
                                console.log('ok update received');
                                _self.activeReceived=true;
                                _self.bindedProduct.pivot.received_qty=recqty;
                                $('.bs-example-modal-sm').modal('hide');
                            }
                        })
                        .catch(function (error) {
                            console.log('error marking as received');
                            console.log(error);
                        });
                });



            }
        },
        computed:{
            selectedProductSetted(){
                return !(_.isEmpty(this.selectedProduct));
            },
            bindedProduct(){
                console.log('BINDEDDDD');
                if(_.isEmpty(this.selectedProduct)){
                    console.log('selected vacio');
                    this.resultado=this.products.filter(e=>e.sku==this.skutemp);
                    if(this.resultado.length===0){
                        console.log('no se encontro el sku');
                        this.qty=0;
                        this.unit_price=0;
                        return {};
                    }else{
                        console.log('sku encontrado');

                        if(this.unit_price==0){
                            this.unit_price=this.resultado[0].unit_price;
                        }else{
                            this.resultado[0].unit_price=this.unit_price;
                        }

                      /*  if(this.qty==0){
                            this.qty=this.resultado[0].qty;
                        }else{
                            this.resultado[0].qty=this.qty;
                        }*/
                        return this.resultado[0];
                      /*  if(this.unit_price!==this.resultado[0].unit_price && this.unit_price==0){
                            this.resultado[0].unit_price=this.unit_price;
                        }else{

                        }*/
                  //      this.unit_price=this.resultado[0].unit_price;
                       // return this.resultado[0];
                    }
                }else{
                    console.log('selected NO vacio');
                    console.log('this.unit_price:',this.unit_price);
                    if(this.unit_price==0){
                        console.log('setteando del pivot');
                        this.unit_price=this.selectedProduct.pivot.price;
                    }else{
                        console.log('setteando al selected product');
                        this.selectedProduct.unit_price=this.unit_price;
                    }

                     if(this.qty==0){
                         this.qty=this.selectedProduct.pivot.qty;
                     }else{
                        this.selectedProduct.qty=this.qty;
                     }
                     if(this.selectedProduct.pivot.received_qty!==null && this.selectedProduct.pivot.received_qty!==0){
                         this.activeReceived=true;
                     }

                  //  this.unit_price=this.selectedProduct.pivot.price;
                    //this.selectedProduct.unit_price=this.selectedProduct.pivot.price;
                    //this.qty=this.selectedProduct.pivot.qty;
                    return this.selectedProduct;
                }
            },
            subtotal(){
                //return 300;
             //   let price=this.bindedProduct.unit_price || 0;
               // return (price * this.qty).toFixed(2);
                return (this.unit_price * this.qty).toFixed(2);
            }
        },
        created(){
            console.log('====created');
            console.log(this.selectedProduct);

        },
        mounted() {
            console.log('==== mounted');
            this.skutemp=this.selectedProduct.sku || '';
           // this.unit_price=this.selectedProduct.unit_price || 0;
        }
    }
</script>
