
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.dropzone {
    min-height:0;
    border: 2px dashed #e5e5e5;
    background: #f3f3f3;
    font-size: 20px;
    margin-bottom:15px;
}

.permissionbox{
    padding-top: 10px;
    .checkbox{
        display: inline-block;
        min-width: 180px;
        padding: 0;
    }
}

.jambo_table{
    tbody tr td{
        vertical-align: middle;
    }
}


